.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.link {
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
}